
@{
    ViewData["Title"] = "DNS Twister Monitor";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <input type="text" id="domainName" name="domainName" />
    <button>Analyze</button>
</form>

<style>
    .domain-container {
        float: left;
        width: 240px;
        margin: 5px;
        border: 1px solid #f9f9f9;
    }

    .domain-container:hover {
        box-shadow: 2px 2px 10px #f0f0f0;
    }

    .domain-thumbnail {
        width: 240px;
        height: 180px;
    }
</style>
@*
@if (Model != null)
{
    <br />
    <table class="table table-bordered table-striped table-responsive">
        <tbody>
            <tr>
                <td class="text-center" colspan="4"><strong>Domain Name</strong></td>
                <td class="text-center" colspan="4">http://betsson.com</td>
            </tr>

            <tr>
                <td class="text-center" colspan="4"><strong>Total Domain Combinations</strong></td>
                <td class="text-center" colspan="4">@Model.TotalCombinations</td>
            </tr>
            @foreach (var type in Model.DomainFuzzerTypesList)
            {

                if (type.FuzzerType != "Original*")
                {
                    <tr>
                        <td class="text-center" colspan="4"><strong>Mode: @type.FuzzerType</strong></td>
                        <td class="text-center" colspan="4">
                            @type.Count
                            @Html.Raw($"[{type.Percentage}%]")
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>

    <hr />
    foreach (var domain in Model.MonitorTestViewList)
    {
        if (domain.IsValid)
        {
            <a href="http://@domain.Url" target="_blank">
                <div class="domain-container">

                    <img src="@domain.ImageUrl" alt="" class="domain-thumbnail" />
                    }
                    <br />
                    <p>
                        Url: @domain.Url<br />
                        Fuzzer Type: @domain.AlgorithmType
                        IsValid: @domain.IsValid
                    </p>
                </div>
            </a>
        }
    }

    <div style="clear: both;"></div>
}
*@